<ion-app>

    <ion-tabs>
        <!-- Tab bar -->
        <ion-tab-bar slot="top">
          <ion-tab-button tab="schedule">
              <ion-icon name="umbrella-outline"></ion-icon>
            <ion-label>Shadi Package</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="speakers">
              <ion-icon name="woman-outline"></ion-icon>
            <ion-label>Body Special</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="map">
              <ion-icon name="wine-outline"></ion-icon>
            <ion-label>All Party</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="about">
              <ion-icon name="home-outline"></ion-icon>
            <ion-label>Banquet Hall</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
          <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
          <ion-icon name="cloud-done"></ion-icon>
        <ion-label>Booking Status</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
          <ion-icon name="call"></ion-icon>
        <ion-label>Helpline</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
          <ion-icon name="trophy"></ion-icon>
        <ion-label>Rewards</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
